<script lang="ts">
  import first_page from './first.svelte'
  import formal_page from './formal.svelte'

  import Login_page from './login.svelte'
  import { auth } from './firebase'
  import { authState } from 'rxfire/auth'

    
  let user

  const unsubscribe = authState(auth).subscribe(u => user = u);

  const pages:any[] = [first_page, formal_page]
  let page_index:number = 0
  let file_name:string = ""

  function change_page(name:string,file:string): void{
      if (name == "formal"){
        file_name = file
        page_index = 1

      }else if (name == "first"){
        page_index = 0
      }
  }
</script>
{#if user}
<div>
  <button on:click={()=>auth.signOut()} style="margin-left: auto;display: block;">Logout</button>
  <br>
  <svelte:component 
  this={pages[page_index]}
  {change_page}
  file_name={file_name}
  user_uid={user.uid}/>
</div>
{:else}
  <Login_page/>
{/if}
<style>

</style>