<script lang="ts">
  export let change_page:any


</script>
<main>
<ul>
  <h2><img src="/Anonymous-lambda.svg" alt="lambda" height="50px" width="50px"/> Lambda Calculus Practice:</h2>
  <li>
    <button on:click={change_page("formal","qna")}>Formal definitions</button><a href="https://lambdamath.neocities.org/pdfs/lambda_calculus_formal_definitions.pdf"> pdf</a>
  </li>
  <li>
    <button on:click={change_page("formal","qna2")}>Encoding Booleans</button><a href="https://lambdamath.neocities.org/pdfs/lambda_calculus_encoding_booleans.pdf"> pdf</a>
  </li>
  <li>
    <button on:click={change_page("formal","qna3")}>Natural Numbers</button><a href="https://lambdamath.neocities.org/pdfs/lambda_calculus_natural_numbers.pdf"> pdf</a>
  </li>
</ul>
<a href="https://gitlab.com/a8615/lambda-math">Visit gitlab</a>
</main>