<script>
  import { auth, sign_in_with, sign_up_with } from './firebase'
  //import { authState } from 'rxfire/auth'

  let email_given
  
  let passw_given

  function signup(){
    sign_up_with(auth, email_given, passw_given).catch((error) => {
      alert(error.message)
    })
  }

  function login(){
    sign_in_with(auth, email_given, passw_given).catch((error) => {
      alert(error.message)
    })
  }
</script>
<main>
  <form>
    <!-- svelte-ignore a11y-label-has-associated-control -->
    <label>email:</label>
    <input bind:value={email_given}>
    <!-- svelte-ignore a11y-label-has-associated-control -->
    <label>password:</label>
    <input type="password" bind:value={passw_given}>
  </form>
  <button on:click={login} class="button">
		Login
	</button>
  <button on:click={signup} class="button">
		Sign up
	</button>

</main>